#main_container {
    position: relative;
    height: 500px;
}

#top_container {
    position: absolute;
    visibility: visible;
    width: 90%;
}

#nod_audience_container {
    position: absolute;
    visibility: hidden;
}

#nod_speaker_container {
    position: absolute;
    visibility: hidden;
}

#gaze_audience_container {
    position: absolute;
    width: 90vw;
    height: 90vh;
    visibility: hidden;
}

#gaze_speaker_container {
    position: absolute;
    visibility: hidden;
}

#system_utility_container {
    position: relative;
    visibility: hidden;
}