#gaze_audience_calibration {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.calibutton {
    display: inline-block;
	text-decoration: none;
	background: #87befd;
	color: #FFF;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
	transition: .4s;
}

.calibutton.black {
    background: #444444;
}

#gaze_audience_images {
	visibility: hidden;
	position: absolute;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
	width: 100%;
	height: 100%;
}

#audience_image1 {
	user-select: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-45%, -45%);
	width: 100%;
}
