#base_image {
    user-select: none;
    position: absolute;
    width: 800px;
    height: 450px;
    opacity: 1.0;
}

#gaze_visualization_canvas {
    position: absolute;
    width: 800px;
    height: 450px;
}

#gaze_visualization_sliders {
    display: relative;
    visibility: hidden;
}

.gaze_sliders {
    width: 200px;
}